.gallery-container {
  text-align: center;
}

.imagenPrincipal {
  width: 1100px; 
  height: 500px; 
  object-fit: cover; 
  margin-bottom: 10px;
  border: double 10px;
}

.navigation-buttons {
  margin-bottom: 10px;
}

#anteriorBtn, #siguienteBtn {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #78B8F8;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

#anteriorBtn:hover, #siguienteBtn:hover {
  background-color: #557EA7;
}

.miniatura-container {
  display: flex;
  justify-content: center;
}

.miniatura {
  width: 50px;
  height: auto;
  margin: 0 5px;
  cursor: pointer;
}